<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jatin Baghel</title>

<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">



</head>
<body>
    
<header>
    <nav>
        <ul>
            <li>Home</li>
            <li>Contact Us</li>
            <li>About Us</li>
        </ul>
    </nav>
</header>
<div class="topTextBG">
    <div class="topText">
        JatinCloud : Manage your all clouds at one place
    </div>

    <div class="midText">
        Transfer and manage all your Clouds at a Single Place. 100% FREE
    </div> </div>

</body>
</html>